body{
    background-color:whitesmoke;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    font-size: medium;
}

h1{
    text-align: left;
    background-color: black;
    padding: 8px 3px;
    color: white;
    height: 40px;
}

button{
    font-family: cursive;
    border-radius: 12px;
    border-width: 2px;
    border-color: white;
    font-size: 18px;
    padding: 3px 7px;
    color:white;
}

#radio{
    display: block;
    font-size: large;
    position: absolute;
    left: 45vw;
}


form{
    font-size: large;
}

span{
    position: absolute;
    left:180px;
}

table{
    font-size: large;  
}

#table th,#table td{
    border-bottom: 2px black solid;
}

#add{
    border: 2px solid whitesmoke;
    padding:2px 8px;
    text-align: center;
    background-color: red;
}

#delete{
    background-color: forestgreen;
    border: 2px solid whitesmoke;
    padding:2px 8px;
    text-align: center;
}

#execute{
    background-color: rgb(0, 2, 143);
    border: 2px solid whitesmoke;
    padding:2px 8px;
    text-align: center;
}

#mytb{
    border-spacing: 0;
}

#mytb th{
    border: 2px solid black;
    padding:2px 8px;
}

#mytb td{
    border: 2px solid black;
    padding:2px 8px;
}

#average{
    float: right;
    margin: 0 2px;
}

#average input{
    width:50px;
    border: 1px solid black;
}