.avg{
    float: right;
    margin-right: 80px;
}
.avg-text{
    font-size: large;
    font-weight: 400;
}

.ans-avg{
    border: 1px solid black;
    width: 52px;
    font-weight: bolder;
}